<div class="ui middle aligned selection divided list fixed-width margin-content">
    <div class="ui teal huge header margin-title">MY BOOK LIST</div>
   <div class="ui teal header margin-title">Read Books: {{readBooks?.length}} from {{books?.length}}</div>
    <ng-container *ngIf="books; else loading">
      <app-book-list-item class="item"
        *ngFor="let b of books"
        [book]="b"
        [routerLink]="b._id"></app-book-list-item >

      <div *ngIf="!books.length" class="ui info message">
        <i class="close icon"></i>
        <div class="header">
          No books have been entered yet!
        </div>
      </div>

    </ng-container>
  
    <ng-template #loading>
      <div class="ui active dimmer">
        <div class="ui large text loader">Looding...</div>
      </div>
    </ng-template>
    
  </div>
