<div class="ui middle aligned selection divided list fixed-width margin-content">
    <div class="ui teal huge header margin-title">MY BOOK LIST</div>
   
    <ng-container *ngIf="books; else loading">
      <app-book-list-item class="item"
        *ngFor="let b of books"
        [book]="b"
        [routerLink]="b._id"></app-book-list-item >
      
      <p *ngIf="!books.length">No books have been entered yet!</p>
    </ng-container>
  
    <ng-template #loading>
      <div class="ui active dimmer">
        <div class="ui large text loader">Looding...</div>
      </div>
    </ng-template>
    
  </div>
