<div class="ui  middle aligned center aligned grid" style="margin: 0 auto;">
  <div class="column">
    
    <h2 class="ui teal image header">
      
      <div class="content">
        <img src="./assets/open-book-100.png" class="ui centered image padding-title">
        LOG IN
      </div>
    </h2>
    <form #form="ngForm" class="ui large form" (ngSubmit)="loginHandler(form)">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <!-- Error Message Email-->
          <ng-container *ngIf="emailInput.touched">
            <div class="error_color" *ngIf="emailInput.errors?.['required']">Email is required!</div>
            <div class="error_color" *ngIf="emailInput.errors?.['email']"> Email is not valid!</div>
          </ng-container>
          <div class="ui left icon input">
            <i class="envelope icon"></i>
            <input #emailInput="ngModel"  type="text" name="email"  ngModel required email placeholder="E-mail" >
          </div>
        </div>
        <div class="field">
           <!-- Error Message Email-->
           <ng-container *ngIf="passwordInput.touched">
            <div class="error_color"  *ngIf="passwordInput.errors?.['required']">Password is required!</div>
            <div class="error_color"  *ngIf="passwordInput.errors?.['minlength']">Password must be at least {{minlengthPassword}} characters!</div>
            </ng-container>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" #passwordInput="ngModel" name="password" ngModel [minlength]="minlengthPassword" required placeholder="Password">
          </div>
        </div>
        <button [disabled]="form.invalid" class="ui fluid large teal submit button">Login</button>
      </div>
      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a routerLink="/auth/register">Register</a>
    </div>
  </div>
</div>