
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
    
      }

      img center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    
    