<div class="ui middle aligned center aligned grid" style="margin: 0 auto;">
    <div class="column">
      <h2 class="ui  teal image header">
        <div class="content">
          <img src="./assets/open-book-100.png" class="ui centered image padding-title">
            REGISTER FORM
        </div>
      </h2>
      <form [formGroup]="form"   class="ui large form" (ngSubmit)="registerHandler()">
        <div class="ui stacked secondary  segment">
            <div class="field">
               <!-- Error Message username-->
               
               <ng-container *ngIf="form.get('username')?.touched">
                <div class="error_color" *ngIf="form.get('username')?.errors?.['required']">Username is required!</div>
                <div class="error_color" *ngIf="form.get('username')?.errors?.['minlength']">Username should be longer than 5 chars</div>
              </ng-container>
              <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text"  formControlName="username" placeholder="Username">
              </div>
              
            </div>
            <!-- Email-->
          <div class="field">
            <ng-container *ngIf="form.get('email')?.touched">
              <div class="error_color" *ngIf="form.get('email')?.errors?.['email']"> Email is not valid!</div>
            </ng-container>
            <div class="ui left icon input">
              <i class="envelope icon"></i>
              <input type="text" formControlName="email" placeholder="E-mail address">
            </div>
          </div>
          
          <!--First Name-->
          <div class="field">
            <!-- Error Message username-->
            
            <ng-container *ngIf="form.get('first_name')?.touched">
             <div class="error_color" *ngIf="form.get('first_name')?.errors?.['required']">First Name is required!</div>
           </ng-container>
           <div class="ui left icon input">
               <i class="user icon"></i>
               <input type="text"  formControlName="first_name" placeholder="First Name">
           </div>
           
         </div>

          <!--Last Name-->
          <div class="field">
            <!-- Error Message username-->
            
            <ng-container *ngIf="form.get('last_name')?.touched">
             <div class="error_color" *ngIf="form.get('last_name')?.errors?.['required']">Last Name is required!</div>
           </ng-container>
           <div class="ui left icon input">
               <i class="user icon"></i>
               <input type="text"  formControlName="last_name" placeholder="Last Name">
           </div>
           
         </div>

          <!--Address-->
          <div class="field">
            <!-- Error Message username-->
           <div class="ui left icon input">
               <i class="address card icon"></i>
               <input type="text"  formControlName="address" placeholder="Address">
           </div>
           
         </div>

          <!-- password -->
          <ng-container formGroupName="pass">
            <div class="field">

              <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
                <div class="error_color" *ngIf="form.get('pass')?.get('password')?.errors?.['required']">Password is required!</div>
                <div class="error_color" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">Password must be at least 5 characters!</div>
              </ng-container>

              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" formControlName="password" placeholder="Password">
              </div>
            </div>
            <div class="field">
              <div class="error_color" *ngIf="form.get('pass')?.errors?.['passwordValidator'] && form.get('pass')?.get('rePassword')?.touched">Repeat Password does not match password!</div>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password"  formControlName="rePassword" placeholder="Repeat Password">
              </div>
            </div>
          </ng-container>
            <button [disabled]="form.invalid" class="ui fluid large teal submit button">Register</button> 
          
        </div>
        
        
  
      </form>
  
      <div class="ui message">
        New to us? <a routerLink="/auth/login">Login</a>
      </div>
    </div>
  </div>
