<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>My Book Library</h3>
            <p>TBD</p>
            <a href="/search" class="btn">Search</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <img src="./assets/images/book-1.png" alt="">
                <img src="./assets/images/book-2.png" alt="">
                <img src="./assets/images/book-3.png" alt="">
                <img src="./assets/images/book-4.png" alt="">
                <img src="./assets/images/book-5.png" alt="">
                <img src="./assets/images/book-6.png" alt="">
                
            </div>
            <!-- <img src="./assets/images/stand.png" class="stand" alt=""> -->
        </div>

    </div>

</section>
