
<header class="header">

<div class="header">
    <nav class="navbar">
       <a routerLink="/"><i class="home icon"></i></a>
        
        <!--Only for logged user-->
        <ng-template #loggedUserTemplate><
        <a href="#">My Profile ({{user?.username}})'</a>
        <a routerLink="/book/create">Add new Book</a>
        <a routerLink="/book/catalog">My Books</a>
        <a routerLink="/auth/logout">Logout</a>
        <app-search-content></app-search-content>
        </ng-template>
        <!--Only for guest-->
        <ng-template #guestTemplate>
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
        </ng-template>

        <ng-container *ngTemplateOutlet="isLoggedIn ? loggedUserTemplate : guestTemplate"></ng-container>
        
        
    </nav>
    
</div>

</header>
