
<header class="header">

<div class="header">
    <nav class="navbar">
       <a routerLink="/"><i class="home large icon" style="padding: 0px;"></i></a>
       
        
        <!--Only for logged user-->
        <ng-template #loggedUserTemplate>
        
        <a routerLink="/book/create">Add new Book</a>
        <a routerLink="/book/catalog">My Books</a>
        <!-- <a routerLink="/auth/logout">Logout</a> -->
        <app-search-content></app-search-content>
        </ng-template>
        <a routerLink="/book/search/api">Search Online Books</a>
        <!--Only for guest-->
        <ng-template #guestTemplate>
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
        </ng-template>

        <ng-container *ngTemplateOutlet="isLoggedIn ? loggedUserTemplate : guestTemplate"></ng-container>
        
        
        <i class="sign-out icon"></i><a *ngIf="isLoggedIn" routerLink="/auth/logout" style="float: right;">Logout</a>  
        <a style="float: right;" *ngIf="isLoggedIn" routerLink="/auth/profile">My Profile ({{user?.username}})</a>
       
    </nav>
    
</div>

</header>


