.header .header {
    background: black;
  }
  
  .header .header .navbar {
    text-align: left;
  }
  
  .header .header .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.3rem;
  }
  
  .header .header .navbar a:hover {
    background: #219150;
  }
  
  .header .header .active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }