
<div class="ui search customerDIV" [class.loading]="isLoading">
    <div class="ui icon input">
      <input type="text" class="prompt"
        (keyup)="onSearchType($event)" #search>
      <i class="search icon"></i>
    </div>
    
    <div class="results transition"
      *ngIf="foundBooks.length" [class.visible]="isVisible">
      <a class="result"
        *ngFor="let book of foundBooks"
        [routerLink]="[]" (click)="manageClick(book._id)">
        {{ book.title }}
        <p class="description">{{book.subtitle}}</p>
      </a>
    </div>
   
</div>

{{search.value}}
